<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<style>
    table, th, td {
        border: 1px solid black;
    }

    div {
      padding: 25px;
    }
</style>

        <a href="/">Home</a>
        <h1> Books</h1>
        <th:block th:each="bookrevs : ${books}">
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Book Id</th>
                            <th>Name</th>
                            <th>Author</th>
                            <th>Description</th>

                            <th>Revision number</th>
                            <th>Revision Type</th>

                            <th> Created By</th>
                            <th>Created DateTime</th>
                            <th> Last Modified By</th>
                            <th> Last Modified DateTime</th>
                        </tr>
                    </thead>
                    <tbody>

                            <tr th:each="bookrev: ${bookrevs}">


                                <td th:text="${bookrev.id}" />
                                <td th:text="${bookrev.name}" />
                                <td th:text="${bookrev.author}" />
                                <td th:text="${bookrev.description}" />
                                <td th:text="${bookrev.revisionNumber}" />
                                <td th:text="${bookrev.revisionType}" />
                                <td th:text="${bookrev.createdBy}" />
                                <td th:text="${bookrev.creationDt}" />
                                <td th:text="${bookrev.lastModifiedBy}" />
                                <td th:text="${bookrev.lastModifiedDt}" />
                            </tr>


                    </tbody>
                </table>
            </div>
        </th:block>


</html>